src/com/ceridwen/selfissue/client/config/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
  <xs:element name="SelfIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UI">
          <xs:annotation>
            <xs:documentation>This section determines various properties of the user interface including visual and audio elements.
</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SelfIssue">
                <xs:annotation>
                  <xs:documentation>Main window settings</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="1" name="RightIcon_Icon" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Header right hand image file</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="LeftIcon_Icon" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Header left hand image file</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="TitleText_Text" type="xs:string"/>
                    <xs:element name="TitleText_Font" type="xs:string"/>
                    <xs:element name="TitleText_Size" type="xs:string"/>
                    <xs:element name="LibraryText_Text" type="xs:string"/>
                    <xs:element name="LibraryText_Font" type="xs:string"/>
                    <xs:element name="LibraryText_Size" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Palette">
                <xs:annotation>
                  <xs:documentation>Colour configuration</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OuterBorderColour" type="xs:string"/>
                    <xs:element name="InnerBorderColour" type="xs:string"/>
                    <xs:element name="TitleBackgroundColour" type="xs:string"/>
                    <xs:element name="BackgroundColour" type="xs:string"/>
                    <xs:element name="TitleTextColour" type="xs:string"/>
                    <xs:element name="DefaultTextColour" type="xs:string"/>
                    <xs:element name="WarningTextColour" type="xs:string"/>
                    <xs:element name="VersionTextColour" type="xs:integer"/>
                    <xs:element name="ButtonTextColour" type="xs:string"/>
                    <xs:element name="ButtonBackgroundColour" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PatronPanel">
                <xs:annotation>
                  <xs:documentation>Patron panel settings</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PatronSalutation_Text" type="xs:string"/>
                    <xs:element name="PatronField_DefaultText" type="xs:string"> </xs:element>
                    <xs:element name="CardIcon_Icon" type="xs:string"/>
                    <xs:element name="PatronFieldLabel_Text" type="xs:string"/>
                    <xs:element name="PatronFieldLabel_ToolTipText" type="xs:string"/>
                    <xs:element name="PatronField_ToolTipText" type="xs:string"/>
                    <xs:element name="PatronPasswordPrompt" type="xs:string"/>
                    <xs:element name="PatronPanelNextButton_Text" type="xs:string"/>
                    <xs:element name="PatronPanelNextButton_ToolTipText" type="xs:string"/>
                    <xs:element name="PatronPanelResetButton_ToolTipText" type="xs:string"/>
                    <xs:element name="PatronPanelResetButton_Text" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CheckOutPanel">
                <xs:annotation>
                  <xs:documentation>Checkout Panel Settings</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="BooksIcon_Icon" type="xs:string"/>
                    <xs:element name="PatronText_DefaultText" type="xs:string"/>
                    <xs:element name="PatronText_ToolTipText" type="xs:string"/>
                    <xs:element name="StatusText_DefaultText" type="xs:string"/>
                    <xs:element name="StatusText_ToolTipText" type="xs:string"/>
                    <xs:element name="BookFieldLabel_Text" type="xs:string"/>
                    <xs:element name="BookFieldLabel_ToolTipText" type="xs:string"/>
                    <xs:element name="BookField_ToolTipText" type="xs:string"/>
                    <xs:element name="CheckoutButton_Text" type="xs:string"/>
                    <xs:element name="CheckoutButton_ToolTipText" type="xs:string"/>
                    <xs:element name="BookPanelNextButton_Text" type="xs:string"/>
                    <xs:element name="BookPanelNextButton_ToolTipText" type="xs:string"/>
                    <xs:element name="BookPanelCheckinButton_Text" type="xs:string"/>
                    <xs:element name="BookPanelCheckinButton_ToolTipText" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CheckInPanel">
                <xs:annotation>
                  <xs:documentation>Checkin Panel Settings</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="BooksIcon_Icon" type="xs:string"/>
                    <xs:element name="PatronText_DefaultText" type="xs:string"/>
                    <xs:element name="PatronText_ToolTipText" type="xs:string"/>
                    <xs:element name="StatusText_DefaultText" type="xs:string"/>
                    <xs:element name="StatusText_ToolTipText" type="xs:string"/>
                    <xs:element name="BookFieldLabel_Text" type="xs:string"/>
                    <xs:element name="BookFieldLabel_ToolTipText" type="xs:string"/>
                    <xs:element name="BookField_ToolTipText" type="xs:string"/>
                    <xs:element name="CheckinButton_Text" type="xs:string"/>
                    <xs:element name="CheckinButton_ToolTipText" type="xs:string"/>
                    <xs:element name="BookPanelNextButton_Text" type="xs:string"/>
                    <xs:element name="BookPanelNextButton_ToolTipText" type="xs:string"/>
                    <xs:element name="BookPanelCheckoutButton_Text" type="xs:string"/>
                    <xs:element name="BookPanelCheckoutButton_ToolTipText" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Messages">
                <xs:annotation>
                  <xs:documentation>Message texts displayed to the user.
^ is used to indicate a line break
{0}, {1] etc. will be replaced by message specific strings.
</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="GreetPatronCheckout" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>{0} = patron name or barcode</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="GreetPatronCheckin" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>{0} = patron name or barcode</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="CheckingPatronMessage" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>{0} = item barcode</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="InvalidPatronBarcode" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>{0} = borrower id</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="PatronRetry" type="xs:string"/>
                    <xs:element name="PatronNetworkError" type="xs:string"/>
                    <xs:element name="InvalidPatronError" type="xs:string"/>
                    <xs:element name="BlockedPatronError" type="xs:string"/>
                    <xs:element name="UnexpectedPatronError" type="xs:string"/>
                    <xs:element name="CheckoutPendingMessage" type="xs:string"/>
                    <xs:element name="InvalidItemBarcode" type="xs:string"/>
                    <xs:element name="CheckoutRetry" type="xs:string"/>
                    <xs:element name="CheckOutSuccess" type="xs:string"/>
                    <xs:element name="DueDateMessage" type="xs:string"/>
                    <xs:element name="NoDueDateMessage" type="xs:string"/>
                    <xs:element name="CheckoutNetworkError" type="xs:string"/>
                    <xs:element name="CheckoutFailedError" type="xs:string"/>
                    <xs:element name="UnexpectedCheckoutError" type="xs:string"/>
                    <xs:element name="UnlockFailedError" type="xs:string"/>
                    <xs:element name="UnlockFailedCheckInFailedError" type="xs:string"/>
                    <xs:element name="CheckInSuccess" type="xs:string"/>
                    <xs:element name="CheckinNetworkError" type="xs:string"/>
                    <xs:element name="CheckinFailedError" type="xs:string"/>
                    <xs:element name="UnexpectedCheckinError" type="xs:string"/>
                    <xs:element name="LockFailedError" type="xs:string"/>
                    <xs:element name="CheckinPendingMessage" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Audio">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ValidPatron" type="xs:string"/>
                    <xs:element name="CheckOutSuccess" type="xs:string"/>
                    <xs:element name="PatronRetry" type="xs:string"/>
                    <xs:element name="CheckoutRetry" type="xs:string"/>
                    <xs:element name="InvalidPatronBarcode" type="xs:string"/>
                    <xs:element name="PatronNetworkError" type="xs:string"/>
                    <xs:element name="InvalidPatronError" type="xs:string"/>
                    <xs:element name="BlockedPatronError" type="xs:string"/>
                    <xs:element name="UnexpectedPatronError" type="xs:string"/>
                    <xs:element name="InvalidItemBarcode" type="xs:string"/>
                    <xs:element name="CheckoutNetworkError" type="xs:string"/>
                    <xs:element name="CheckoutFailedError" type="xs:string"/>
                    <xs:element name="UnexpectedCheckoutError" type="xs:string"/>
                    <xs:element name="UnlockFailedError" type="xs:string"/>
                    <xs:element name="UnlockFailedCheckInFailedError" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Validation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PatronBarcodeMask" type="xs:string"/>
                    <xs:element name="ItemBarcodeMask" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Control">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="1" name="ResetTimeout" type="xs:nonNegativeInteger"/>
                    <xs:element name="StripPatronChecksumDigit" type="xs:boolean"/>
                    <xs:element name="StripItemChecksumDigit" type="xs:boolean"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="WatchDog">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Timer" type="xs:nonNegativeInteger"/>
                    <xs:element name="CriticalSectionThreshold" type="xs:nonNegativeInteger"/>
                    <xs:element name="MinimumMemory" type="xs:nonNegativeInteger"/>
                    <xs:element name="ShowOutOfOrderScreenOnWatchDogProblem" type="xs:boolean"/>
                    <xs:element name="ShowOutOfOrderScreenOnUnhandledException" type="xs:boolean"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Systems">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Printer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PrintReceipt" type="xs:boolean"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="SIP">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Host" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>
       IP Address of Self Issue server
       
       Some additional information
       </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Port" type="xs:nonNegativeInteger"/>
                    <xs:element name="TelnetUsername" type="xs:string"/>
                    <xs:element name="TelnetPassword" type="xs:string"/>
                    <xs:element name="LoggedOnText" type="xs:string"/>
                    <xs:element name="LoginUserId" type="xs:string"> </xs:element>
                    <xs:element name="LoginPassword" type="xs:string"> </xs:element>
                    <xs:element name="LocationCode" type="xs:string"> </xs:element>
                    <xs:element name="UIDAlgorithm" type="xs:string"> </xs:element>
                    <xs:element name="PWDAlgorithm" type="xs:string"> </xs:element>
                    <xs:element name="ConnectionTimeout" type="xs:nonNegativeInteger"/>
                    <xs:element name="IdleTimeout" type="xs:nonNegativeInteger"/>
                    <xs:element name="RetryAttempts" type="xs:nonNegativeInteger"/>
                    <xs:element name="RetryWait" type="xs:nonNegativeInteger"/>
                    <xs:element name="AddSequenceAndChecksum" type="xs:boolean"/>
                    <xs:element name="StrictChecksumChecking" type="xs:boolean"/>
                    <xs:element name="StrictSequenceChecking" type="xs:boolean"/>
                    <xs:element name="InstitutionId" type="xs:string"> </xs:element>
                    <xs:element name="TerminalPassword" type="xs:string"> </xs:element>
                    <xs:element name="SendEndPatronSession" type="xs:boolean"/>
                    <xs:element name="RequirePatronPassword" type="xs:boolean"/>
                  </xs:sequence>
                  <xs:attribute name="mode" use="required" form="unqualified">
                    <xs:annotation>
                      <xs:documentation>Socket or Telnet</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Socket"/>
                        <xs:enumeration value="Telnet"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="PatronIDReaderDevice">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SmartCardReader" type="xs:string"/>
                  </xs:sequence>
                  <xs:attribute name="class" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration
                          value="com.ceridwen.selfissue.client.nulldevices.IDReaderDevice"/>
                        <xs:enumeration
                          value="com.ceridwen.selfissue.client.devices.JavaSmartCardDevice"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="ItemIDReaderDevice">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SmartCardReader" type="xs:string"/>
                  </xs:sequence>
                  <xs:attribute name="class" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration
                          value="com.ceridwen.selfissue.client.nulldevices.IDReaderDevice"/>
                        <xs:enumeration
                          value="com.ceridwen.selfissue.client.devices.JavaSmartCardDevice"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="ItemSecurityDevice">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Retries" type="xs:nonNegativeInteger"/>
                    <xs:element name="Timeout" type="xs:nonNegativeInteger"/>
                  </xs:sequence>
                  <xs:attribute name="class" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration
                          value="com.ceridwen.selfissue.client.nulldevices.ItemSecurityDevice"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Loggers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Logger" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="EventMask">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CheckoutSuccess" type="xs:boolean"> </xs:element>
                                <xs:element name="CheckoutFailure" type="xs:boolean"> </xs:element>
                                <xs:element name="CheckoutPending" type="xs:boolean"> </xs:element>
                                <xs:element name="ManualCheckout" type="xs:boolean"> </xs:element>
                                <xs:element name="Notification" type="xs:boolean"> </xs:element>
                                <xs:element name="UnlockFailure" type="xs:boolean"> </xs:element>
                                <xs:element name="CancelCheckoutFailure" type="xs:boolean"> </xs:element>
                                <xs:element name="UnlockSuccess" type="xs:boolean"> </xs:element>
                                <xs:element name="CheckinSuccess" type="xs:boolean"> </xs:element>
                                <xs:element name="CheckinFailure" type="xs:boolean"> </xs:element>
                                <xs:element name="CheckinPending" type="xs:boolean"> </xs:element>
                                <xs:element name="LockFailure" type="xs:boolean"> </xs:element>
                                <xs:element name="LockSuccess" type="xs:boolean"> </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ReplayPeriod" type="xs:nonNegativeInteger"/>
                          <xs:element name="OverdueAgeOutOfOrder" type="xs:nonNegativeInteger"/>
                          <xs:element name="Host" type="xs:string"> </xs:element>
                          <xs:element name="Port" type="xs:integer"/>
                          <xs:element name="To" type="xs:string"/>
                          <xs:element name="From" type="xs:string"/>
                          <xs:element name="Relay" type="xs:string"/>
                          <xs:element name="ConnectionTimeout" type="xs:nonNegativeInteger"/>
                          <xs:element name="IdleTimeout" type="xs:nonNegativeInteger"/>
                          <xs:element name="Spool" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="class" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="com.ceridwen.selfissue.client.log.MailLogger"/>
                              <xs:enumeration value="com.ceridwen.selfissue.client.log.SyslogLogger"/>
                              <xs:enumeration value="com.ceridwen.selfissue.client.log.RestLogger"/>
                              <xs:enumeration
                                value="com.ceridwen.selfissue.client.nulldevices.OnlineLogLogger"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Spooler">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ReplayPeriod" type="xs:nonNegativeInteger"/>
                    <xs:element name="OverdueAgeWarn" type="xs:nonNegativeInteger"/>
                    <xs:element name="OverdueAgeExpire" type="xs:nonNegativeInteger"/>
                    <xs:element name="Spool" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Modes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TrustMode" type="xs:boolean"/>
              <xs:element name="AllowOffline" type="xs:boolean"/>
              <xs:element name="UseNoBlock" type="xs:boolean"/>
              <xs:element name="RetryPatronWhenError" type="xs:boolean"/>
              <xs:element name="RetryItemWhenError" type="xs:boolean"/>
              <xs:element name="AllowRenews" type="xs:boolean"/>
              <xs:element name="SuppressSecurityFailureMessages" type="xs:boolean"/>
              <xs:element name="SendShutdownStatus" type="xs:boolean"/>
              <xs:element name="EnableBarcodeAlii" type="xs:boolean"/>
              <xs:element name="EnableCheckIn" type="xs:boolean"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CommandInterface">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="AllowConnectionTest" type="xs:boolean"/>
              <xs:element name="AllowSystemsCheck" type="xs:boolean"/>
              <xs:element name="AllowLogTest" type="xs:boolean"/>
              <xs:element name="AllowSystemShutdown" type="xs:boolean"/>
              <xs:element name="AllowEncodePassword" type="xs:boolean"/>
              <xs:element name="AllowOutOfOrder" type="xs:boolean"/>
              <xs:element name="AllowResetOutOfOrder" type="xs:boolean"/>
              <xs:element name="AllowCheckIn" type="xs:boolean"/>
              <xs:element name="SystemPassword" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Logging">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LoggingHandler" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="level">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="SEVERE"/>
                          <xs:enumeration value="WARNING"/>
                          <xs:enumeration value="INFO"/>
                          <xs:enumeration value="CONFIG"/>
                          <xs:enumeration value="FINE"/>
                          <xs:enumeration value="FINER"/>
                          <xs:enumeration value="FINEST"/>
                          <xs:enumeration value="ALL"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="smtpServer" type="xs:string"/>
                    <xs:element name="sender" type="xs:string"/>
                    <xs:element name="recipients" type="xs:string"/>
                    <xs:element name="syslogHost" type="xs:string"/>
                    <xs:element name="syslogPort" type="xs:nonNegativeInteger"/>
                    <xs:element name="URL" type="xs:string"/>
                  </xs:sequence>
                  <xs:attribute name="class" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration
                          value="com.ceridwen.selfissue.client.logging.SyslogLoggingHandlerWrapper"/>
                        <xs:enumeration
                          value="com.ceridwen.selfissue.client.logging.SMTPLoggingHandlerWrapper"/>
                        <xs:enumeration
                          value="com.ceridwen.selfissue.client.logging.RestLoggingHandlerWrapper"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
